<!DOCTYPE html>
<head>
  <title>Simple Search Forms</title>
</head>
<body>
  
  <%= form_tag(analyzes_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="url"> 
      <%= text_field_tag :url, params[:url], class: "span2", placeholder: "Enter target url" %> 
      
      <button class="btn" type="submit"><i class="glyphicon glyphicon-search"></i></button> URL Analysis
    </div>
  <% end %>
  
  <%= form_tag(analyzes_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="text"> 
      <%= text_field_tag :text, params[:text], class: "span2", placeholder: "Enter text body" %> 
     
      <button class="btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>Text Analysis
    </div>
  <% end %>
  
  <%= form_tag(analyzes_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="html"> 
      <%= text_field_tag :html, params[:html], class: "span2", placeholder: "Enter HTML" %> 
      
      <button class="btn" type="submit"><i class="glyphicon glyphicon-search"></i></button> HTML Analysis
    </div>
  <% end %>
  
  <%= yield %>
</body>