<h2>Data Store Totals</h2>
<p><b>Total Alchemy API points consumed:</b> <%= Document.sum(:transaction_count) %></p>
<p><b>Number of document analysis returns:</b> <%= Document.count %></p>

<h2>Analysis Results</h2>
<% @documents.each do |document| %>
	<p><b>Result id:</b>  <%= document.id %></p>
	<p><b>Date Retrieved:</b> <%= document.created_at %></p>
	<p><b>JSON return:</b>
</br> 
	<%= document.result %></p>
	
</br>
<HR>
<% end %>