<div>
  <h3
  </br>
  <p><b>Title: </b> <%= @document.title %></p>
  <p><b>Author: </b> <%= @document.author %></p>
  <p><b>Source: </b> <%= @document.url %></p>
  <p><b>Sentiment type: </b> <%= @document.sentiment.sentiment_type %></p>
  <p><b>Sentiment score: </b> <%= @document.sentiment.sentiment_score %></p>
  <p><b>Full text: </b> <%= @document.document_text %></p>
</div>